<li>
  <h4>{{blog.title}} - by {{blog.author}}</h4>
  <br>
  <img id="tile-img" src={{blog.image}} alt={{blog.title}}>
  <br>
  <button class="btn btn-danger" {{action 'delete' blog}}>Delete Entry</button>
</li>
